
@{
    ViewBag.Title = "Rol Ata";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Rol Atama Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Kullanici/Index">
                        <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                    </a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Kullanici/RolAta" method="post" role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanici Adı:</label>
                           <select name="KullaniciAdi" class="form-control">
                               @foreach (MembershipUser mu in ViewBag.Kullanicilar)
                               {
                                <option value="@mu.UserName">@mu.UserName</option>
                               }
                           </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Rol :</label>
                            <select name="RolAdi" class="form-control">
                                @foreach (string rol in ViewBag.Roller)
                                {
                                    <option value="@rol">@rol

                                    </option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
