
@{
    ViewBag.Title = " Baslik Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Başlık Ekle</h2>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Başlık Ekleme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/AnasayfaResim/Index">
                        <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                    </a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/AnasayfaResim/Ekle" method="post" role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Başlık :</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Başlık Giriniz" name="AnasayfaBaslik">
                            <!--Place Holder Özelliği Hiçbişey Yazmayınca Arkada Gözüken Textdir-->
                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

