
@{
    ViewBag.Title = "Aydın Depo";
}
<img class="default-logo" src="~/Content/assets/images/required/firma.png" width="1300" height="450" alt="Logo" />

<table border="5" width="450" height="50" >
     <thead>
         <tr>
             <th>Aktif Ziyaretçi</th>
             <th>Toplam Ziyaretçi</th>
         </tr>
     </thead>
    <tbody>
        <tr>
            <td>@ViewBag.AktifKullanici</td>
            <td>@ViewBag.ToplamZiyaretci</td>
        </tr>
    </tbody>
</table>
